/* Estilos generales */
.background {
    background-color: black;
}

p {
    color: red;
    text-align: end;
}

h1 {
    color: red;
    text-align: center;
}

img {
    width: 35%;
    display: block;
    margin: 0 auto;
}

video {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    height: auto; /* Mantener la relación de aspecto */
}

/* Media query para pantallas pequeñas (como celulares) */
@media (max-width: 600px) {
    h1 {
        font-size: 1.5em; /* Reducir tamaño de fuente en móviles */
    }

    p {
        font-size: 1.1em; /* Reducir tamaño de texto para mayor legibilidad */
        text-align: center; /* Alinear texto al centro */
    }

    img {
        width: 80%; /* Hacer la imagen más grande en pantallas pequeñas */
    }

    video {
        width: 100%; /* Aseguramos que el video ocupe todo el ancho */
        max-width: 100%; /* Evitar que el video se haga más grande que la pantalla */
        height: auto; /* Mantener la relación de aspecto */
    }
}
