.background {
    background-color: black;
}

p {
    color: red;
    text-align: end;
}

h1 {
    color: red;
    text-align: center;
}

img {
    width: 35%;
    display: block;
    margin: 0 auto;
}

video {
    display: block;
    margin: 0 auto;
}


@media (max-width: 600px) {
    h1 {
        font-size: 1.5em;
    }

    p {
        font-size: 1.1em;
        text-align: center;
    }

    img {
        width: 80%;
    }

    video {
        width: 100%;
    }
}
